.TemperatureUnits h1 {
  text-align: center;
  font-size: 38px;
  margin: 0;
  position: relative;
  bottom: -10px;
}

.TemperatureUnits .degreesMeasurement {
  font-size: 18px;
  padding-top: 6px;
}
