.Card .container {
  margin-top: 100px;
}

.Card .cardStructure {
  border-radius: 4px;
  border: 1px solid #155263;
  background: #f2f9f1;
  color: #155263;
  padding: 15px;
  font-family: "Onest", sans-serif;
  width: 500px;
  display: block;
  margin: 0 auto;
}
