.FormInput .btn-outline-secondary:hover {
  background-color: #155263;
}
.FormInput .btn-outline-secondary-current {
  text-align: center;
  cursor: pointer;
  color: #6c757d;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-color: #6c757d;
}
.FormInput .btn-outline-secondary-current:hover {
  background-color: #155263;
  color: #fff;
}
